body{
    font-family: Arial, Helvetica, sans-serif;
    background-image: url('/images/lady\ beetle.gif');
    background-repeat: no-repeat;
    background-size: cover
}
html{
    scroll-behavior: smooth;
}
.topnav{
    height: 3.9vh;
    background-color: rgb(90, 101, 84);
    border-radius: 3px;
    border-top: 0%;
    margin: auto;
    padding: 5px;
    box-shadow: 8px 10px 18px rgb(87, 99, 91);
    
}
.topnav i {
    float: left;
     display: block;
     color: azure;
     text-align: center;
     justify-content: center;
     padding: 5px;
     text-decoration: none;
     font-size: 20px;
     border-radius: 2px;
     font-weight: bold;
     margin: 0px 3px;
     box-shadow: 5px 10px 18px black;
}
.topnav i:hover{
    color: rgb(0, 255, 255);;
    border-radius: 5px;
    box-shadow: 5px 10px 15px rgb(33, 34, 34);
    opacity: 0.5;
}
.topnav i .active{
    background-color: rgb(235, 116, 209);
    color: white;
}
.icon{
    text-align: center;
}
.travelphoto{
    width: 100px;
    position: relative;
    top: 23px;
    align-items: center;
    justify-content: center;
    text-align: center;
}
form{
    /* border: 3px; */
    margin: 5px;
}
.container2{
    border: 0;
    border-radius: 5px;
    box-shadow: 8px 10px 18px rgb(141, 147, 137);
    background-color: rgb(239, 239, 239);
    /* padding: 20%; */
    width: 100px 50px;
    position:relative;
    top: 25px;
}
input[type=tel],
input[type=submit]
{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 2px;
    display: inline-block;
    border: 1px solid;
    box-sizing: border-box;
    box-shadow: 8px 15px 18px rgb(128, 135, 142);
}
button{
    background-color: rgb(217, 220, 216);
    color: rgb(22, 17, 17);
    padding: 14px 20px;
    margin: 8px 0px;
    cursor: pointer;
    width: 100%; 
    border-radius: 5px;
    border-bottom: 1px solid;
    box-shadow: 5px 10px 18px #4d4e41;
}
button:hover{
    opacity: 0.8;
    background-color: rgb(124, 124, 196);
    zoom: 5%;
    box-shadow: 5px 10px 18px #414e4b;
}
@media screen and (max-width: 500px) {
    .container2 {
        padding: 35px;
    }

}